<div class="col">
  <div class="card shadow h-100">
    <div class="d-flex justify-content-center">
      <%= link_to pokemon_path(poke.name) do %>
        <%= image_tag poke.photos.first, height: 150  %>
      <% end %>
    </div>
    <div class="card-body">
      <h4 class="card-title fw-bold"><%= poke.name.capitalize %></h4>
      <p class="card-text">
        <p><% poke.types.each do |type| %>
          <div class="badge text-bg-info">
            <%= type.capitalize %>
          </div>
        <% end %></p>
        <p>Peso: <%= poke.weight %></p>
        <p>Habilidades</p>
        <% poke.abilities.each do |ability| %>
          <div class="badge text-bg-light">
            <%= ability.capitalize %>
          </div>
        <% end %>
      </p>
    </div>
  </div>
</div>
