<div class="banner mb-4">
  <%= render "shared/banner" %>
  <div class="text-center text-white">
    <h1>Pokédex</h1>
  </div>
  <div class="container d-flex col-12 col-md-6 col-lg-4">
    <%= form_tag({controller: "pokemons", action: "index"}, method: :get, class: "d-flex my-3") do %>
      <%= text_field_tag :search_term,
      params[:search_term],
      class: "form-control",
      placeholder: "Buscar Pokemón" %>
      <%= submit_tag "Buscar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <% if @pokemon %>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <%= link_to :back, class:"page-link" do %>
            <i class="fa-sharp fa-solid fa-chevron-left"></i> Volver
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 d-flex justify-content-center mb-4">
      <div class="col">
        <div class="card shadow h-100">
          <div class="d-flex justify-content-center">
            <%= link_to pokemon_path(@pokemon.name) do %>
              <%= image_tag @pokemon.photos.first, height: 150  %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title fw-bold"><%= @pokemon.name.capitalize %></h4>
            <p class="card-text">
              <p><% @pokemon.types.each do |type| %>
                <div class="badge text-bg-info">
                  <%= type.capitalize %>
                </div>
              <% end %></p>
              <p>Peso: <%= @pokemon.weight %></p>
              <p>Habilidades</p>
              <% @pokemon.abilities.each do |ability| %>
                <div class="badge text-bg-light">
                  <%= ability.capitalize %>
                </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <% @pokemons.each do |poke| %>
        <div class="col">
          <div class="card shadow h-100">
            <div class="d-flex justify-content-center">
              <%= link_to pokemon_path(poke.name) do %>
                <%= image_tag poke.photos.first, height: 150  %>
              <% end %>
            </div>
            <div class="card-body">
              <h4 class="card-title fw-bold"><%= poke.name.capitalize %></h4>
              <p class="card-text">
                <p><% poke.types.each do |type| %>
                  <div class="badge text-bg-info">
                    <%= type.capitalize %>
                  </div>
                <% end %></p>
                <p>Peso: <%= poke.weight %></p>
                <p>Habilidades</p>
                <% poke.abilities.each do |ability| %>
                  <div class="badge text-bg-light">
                    <%= ability.capitalize %>
                  </div>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <nav aria-label="Page navigation example" class="m-4">
      <ul class="pagination justify-content-center">
        <% if @previous %>
          <li class="page-item">
            <%= link_to pokemons_path + "?" + @previous, class:"page-link" do %>
              <i class="fa-sharp fa-solid fa-chevron-left"></i> Anteriores
            <% end %>
          </li>
        <% end %>
        <% if @next %>
          <li class="page-item">
            <%= link_to pokemons_path + "?" + @next, class:"page-link" do %>
              Siguientes <i class="fa-sharp fa-solid fa-chevron-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
