<div class="banner mb-4">
  <%= render "shared/banner" %>
  <div class="text-center text-white">
    <h1>Pokédex</h1>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <%= form_tag({controller: "pokemons", action: "index"}, method: :get, class: "d-flex my-3") do %>
      <%= text_field_tag :search_term,
      params[:search_term],
      class: "form-control",
      placeholder: "Buscar Pokemón" %>
      <%= submit_tag "Buscar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <% if params["search_term"] %>
    <%= render partial: "shared/back" %>
  <% end %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <%= render partial: "pokemons/pokemon", collection: @pokemons, locals: { show_effect: false, show_evolves: false } %>
    </div>
    <nav aria-label="Page navigation example" class="m-4">
      <ul class="pagination justify-content-center">
        <% if @pagination[:prev].present? %>
          <li class="page-item">
            <%= link_to root_path + "?" + @pagination[:prev], class:"page-link" do %>
              <i class="fa-sharp fa-solid fa-chevron-left"></i> Anteriores
            <% end %>
          </li>
        <% end %>
        <% if @pagination[:next].present? %>
          <li class="page-item">
            <%= link_to root_path + "?" + @pagination[:next], class:"page-link" do %>
              Siguientes <i class="fa-sharp fa-solid fa-chevron-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
</div>
